html, body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.container {
	margin: auto;
}

#mainHeader .title {
	line-height: 1em;
	color: darkred;
	text-decoration: none;
}

#navbar {
	background-color: darkred;
}

#navbar .row {
	height: 3em;
}

#navbar a {
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}
#navbar a:hover, #navbar a.active {
	color: darkgray;
}

#showcase {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#showcase .row {
	height: 50vh;
}

#showcase h1 {
	margin: 0;
	font-size: 3rem;
	text-transform: uppercase;
}

#mainContent .container {
	padding-top: 20px;
	padding-bottom: 20px;
}

#companyInfo {
	background-color: darkred;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

#companyInfo .topBorder {
	border-top:2px solid white;
}

#companyInfo .smaller {
	height: 100px;
	margin-bottom: 20px;
}

#companyInfo .title {
	color: white;
	text-decoration: none;
}

#mainFooter {
	background-color: wheat;
}

#mainFooter .row {
	height: 50px;
}

/*Simple layouut mod classes*/
.paddingLeft {
	padding-left: 10px;
}

.paddingRight {
	padding-right: 10px;
}

.alignLeft {
	text-align: left;
}

.sticky {
	position: sticky;
}

/*Media queries*/
@media(max-width: 1000px) {
	#mainHeader .title {
		font-size: 2vw;
	}
	
	#navbar .row {
		height: 6vw;
	}
	
	#navbar a {
		font-size: 3vw;
	}
	
	#showcase .row {
		height: 50vw;
	}

	#showcase {
		background-size: 150%;
	}
}

@media(max-width: 500px) {
	#mainHeader .title {
		font-size: 0.6em;
	}
	
	#navbar .row {
		height: 1.8em;
	}
	
	#navbar a {
		font-size: 0.9em;
	}
	
	#showcase {
		background-size: 150%;
	}
	
	#showcase .row {
		height: 250px;
	}
}